<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Responsiva</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"  referrerpolicy="no-referrer" />
</head>
<body>
    <header>
		<nav>
      <h1>Logo</h1>
			<div>
                <ul id="top-menu">
					<li class="menu-item"><a href="#">Home</a></li>
                    <li class="menu-item"><a href="#sobre">Sobre</a></li>
                    <li class="menu-item"><a href="#beneficios">Benefícios</a></li>
                    <li class="menu-item"><a href="#contato">Contato</a></li>
                </ul>
            </div>
		</nav>
		<div id="header-desc">
			<h1>Landing Page Responsiva Café</h1>
			<p>Café é uma das bebidas mais apreciadas em todo o planeta e é produzido dos grãos de café, a semente do fruto do cafeeiro. O cafeeiro é uma espécie originária da Etiópia que se difundiu por todo o mundo. Existem diferentes espécies de café, as quais fazem parte da família botânica Rubiaceae e do gênero Coffea.</p>
		</div>
	</header>

    <main>
        <section id="sobre">
			<p class="letra-cursiva">Café</p>
			<h2>Sobre o Café</h2>
			<p id="gray-desc">O café é mais do que uma bebida; é uma experiência que começa na terra, passa pelo grão e desperta os sentidos em cada xícara. Originando do fruto do cafeeiro, o café nace como uma pequena cereja vermelha que, após colheita e secagem, revela os grãos que serão torrados para liberar seu aroma e sabor inconfundíveis. Rico em notas e nuances, ele pode ser suave, intenso, frutado ou achocolatado, dependendo da origem e do processo de cultivo. Seja um espresso encorpado, um filtrado aromático ou um café especial de terroir único, cada gole carrega tradição, arte e paixão.</p>
        </section>

        <section id="beneficios">
            <div class="beneficio">
                <div class="icon">
                    <i class="fa fa-brain"></i>
                </div>
                <div class="conteudo-beneficio">
                    <h3>Melhora o Desempenho Cognitivo</h3>
                    <p>A cafeína estimula o sistema nervoso central, melhorando a concentração, a memória e a disposição mental, ajudando no foco e produtividade.</p>
                </div>
            </div>
            <div class="beneficio">
                <div class="icon">
                    <i class="fa fa-heartbeat"></i>
                </div>
                <div class="conteudo-beneficio">
                    <h3>Protege o Coração</h3>
                    <p>O consumo moderado de café está associado à redução do risco de doenças cardiovasculares, pois contém antioxidantes que ajudam na saúde do coração.</p>
                </div>
            </div>
            <div style="background-color: #765038;" class="beneficio">
                <div class="icon">
                    <i class="fa fa-dumbbell"></i>
                </div>
                <div class="conteudo-beneficio">
                    <h3>Aumenta a Energia e o Desempenho Físico</h3>
                    <p>A cafeína estimula a liberação de adrenalina, o que pode melhorar o desempenho em atividades físicas, reduzindo a fadiga e aumentando a resistência.</p>
                </div>
            </div>
        </section>

        <section id="contato">
			<div id="contato-wrap">
				<div class="bloco-endereco">
					<p class="letra-cursiva">Encontre-nos Aqui</p>
					<h2>Endereço</h2>
					<p class="contato-desc">Venha nos visitar e saborear um café especial.</p>
					<h4>Unidade Centro</h4>
					<p class="contato-endereco">
						Avenida dos Aromas, 123 - Centro <br>
						Segunda à Domingo : 7h - 20h<br>
						cafezinhocentro@meucafe.com
					</p>
					<h4>Unidade Alto do Café</h4>
					<p class="contato-endereco">
						Alameda dos Baristas, 101 - Alto do Café<br>
						Segunda à Domingo : 7h - 20h<br>
						altodocafe@meucafe.com
					</p>
				</div>

				<div class="bloco-forms">
					<p class="letra-cursiva">Fale conosco</p>
					<h2>Entre em contato</h2>
					<p class="contato-desc">Tem alguma dúvida ou sugestão? Compartilhe conosco a paixão pelo café.</p>
					<form>
						<div>
							<input class="input-item" type="text" name="nome" placeholder="Nome">
						</div>
						<div>
							<input class="input-item" type="tel" name="telefone" placeholder="Telefone">
						</div>
						<div>
							<input class="input-item" type="text" name="assunto" placeholder="Assunto">
						</div>
						<div>
							<input class="input-item" type="email" name="email" placeholder="Email">
						</div>
						<div>
							<textarea class="input-item" placeholder="Mensagem"></textarea>
						</div>
						<div>
							<input id="btn-submit" type="submit" name="submit" value="Enviar">
						</div>
					</form>
				</div>
			</div>
		</section>


    </main>

    <footer>
        <p>&copy 2025 Meu Café - Todos os direitos reservados</p>
    </footer>
</body>
</html>