<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>
    <header>
        <div>
            <h1>Minha Empresa</h1>
            <nav>
                <ul>
                    <li><a href="">Benefícios</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h2>Título</h2>
                <p>texto</p>
                <a href="">Saiba mais</a>
            </div>
        </section>

        <section>
            <div>
                <h2>Benefícios</h2>
                <div>
                     <div>
                        <h3>Ben1</h3>
                        <p>desc ben</p>
                     </div>
                        <div>
                        <h3>Ben2</h3>
                        <p>desc ben</p>
                    </div>
                    <div>
                        <h3>Ben3</h3>
                        <p>desc ben</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div>
                <h2>Sobre</h2>
                <p>quem somos</p>
            </div>
        </section>

        <section>
            <div>
                <h2>Contato</h2>
                <form>
                    <input type="text" placeholder="Seu Nome" required>
                    <input type="email" placeholder="seuemail@dominio.com" required>
                    <textarea placeholder="Sua mensagem" required></textarea>
                    <button type="submit"></button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>rodapé</p>
        </div>
    </footer>

</body>
</html>